<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tres</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Información</h1>

  <label>Nombre</label>
  <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>

  <ion-input type="text" placeholder="Ingrese su apellido" label="Apellido"></ion-input>
  <ion-input type="number" placeholder="Ingrese su edad" label="Edad"></ion-input>
  <ion-input type="email" placeholder="Ingrese su correo" label="Email"></ion-input>
  <ion-input type="email" placeholder="Ej: email@correo.cl" 
                          label="Email 2"
                          labelPlacement="floating"></ion-input>
  <ion-input type="email" placeholder="Ej: email@correo.cl" 
                          label="Email 3"
                          labelPlacement="fixed"></ion-input>

  <ion-input type="text" placeholder="Carrera" [clearInput]="true"></ion-input>
  <ion-input type="text" placeholder="Comentario" [counter]="true" maxlength="30"></ion-input>

  <ion-input type="number" placeholder="Valor Mensual" fill="solid"></ion-input>
  <ion-input type="number" placeholder="Valor Anual" fill="outline" color="success"></ion-input>

  <ion-item>
    
    <ion-label>Seleccione fecha</ion-label>
    <ion-datetime display-format="DD.MM.YYYY HH:mm">
      <span slot="time-label">Hora</span>
    </ion-datetime>

  </ion-item>

</ion-content>
