<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cuatro: card</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/playa1.jpg" alt="playa">
    <ion-card-header>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      <ion-card-title>Buzio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Al sur de Rio de Janeiro, con aguas turquesas y calidas.
      Holtes de 3 a 5 estrellas y tour para distintas playas y bahias, como
      para monumentos históricos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      <ion-card-title>Florianopolis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Playa al norte de Rio de Janeiro, con aguas turquesas y calidas.
      Holtes de 3 a 5 estrellas y tour para distintas playas y bahias, como
      para monumentos históricos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      <ion-card-title>Copacabana</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sector de Rio de Janeiro, con aguas turquesas y calidas.
      Holtes de 3 a 5 estrellas y tour para distintas playas y bahias, como
      para monumentos históricos.
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Card</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>