<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Opciones</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button [routerLink]="['/uno']">
        Ver Botones
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button [routerLink]="['/dos']">
        Ver form en blanco (back button)
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/tres']">
        Inputs
      </ion-button>
    </ion-item>

    <ion-item>
      <a href="/cuatro"> Tarjeta </a>
    </ion-item>


    <ion-item>
      <ion-button [routerLink]="['/cinco']" size="large"  fill="outline" shape="round" color="success">
        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
        Alerta
      </ion-button>
    </ion-item>
    
    <ion-item>
      <a href="/seis">Grillas y atributos</a>
    </ion-item>

    <ion-item>
      <a href="/siete">Toast y Directivas</a>
    </ion-item>
  </ion-list>
</ion-content>
